body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

header {
    padding-left: 10%;
}

#viz {
    display: inline-block;
    position: absolute;
    left: 15%;
    top: 219px;
}

#drilldown {
    position: absolute;
    left: 103%;
    border: aquamarine solid;
    top: 0;
}

#temperature-picker {
    display: inline-block;
    position: absolute;
    top: 200px;
}

#location-picker {
    display: inline-block;
    position: absolute;
    top: 120px;
    /* margin-left: 30%; */
}

#date {
    position: absolute;
    top: 141px;
    font-family: Arial, Helvetica, sans-serif;
}

#column-slider {
    position: absolute;
    left: 200px;
}

#reset {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    bottom: -30px;
    font-size: x-large;
    left: 65%;
}

.cutoff {
    cursor: ns-resize;
}