body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

header {
    padding-left: 10%;
}

#viz {
    display: inline-block;
    position: absolute;
    left: 15%;
    top: 219px;
}

#drilldown {
    position: absolute;
    left: 103%;
    top: 0;
}

.color-block {
width: 15px;
height: 15px;
display: inline-block;
margin-left: 10px;
}

#temperature-picker {
    display: inline-block;
    position: absolute;
    top: 200px;
}

#location-picker {
    display: inline-block;
    position: absolute;
    top: 120px;
    z-index: 100;
    /* margin-left: 30%; */
}

#date {
    position: absolute;
    top: 141px;
    font-family: Arial, Helvetica, sans-serif;
}

#column-slider {
    position: absolute;
    left: 300px;
}

#reset {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    bottom: -30px;
    font-size: x-large;
    left: 65%;
}

.cutoff {
    cursor: ns-resize;
}

.suggestion {
    background: white;
    padding: 5px;
    border: solid 1px #888;
    margin-left:69px;
    cursor: pointer;
}

.suggestion:hover {
    background: #888;
}

.suggestion.selected {
    background: #88F;
}